node_modules
input/*.json
data/serviceAccountKey.json
data/mapUrls.json
images/*/*
scripts/GetMapImages.js
scripts/FetchBuiltLooks.js
scripts/GenerateChallengeIcons.js
embeddings
output/*
.env

!pages/*
pages/*/*